.navbar-dark{
  background-color:#722431;
}

.navbar-dark span{
  color: white;
  padding-top: 9px;
}



.data {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    line-height:1.2
}

#table_results .table .header td, #table_results .table  th {  
  vertical-align: middle;
  font-size: small;
}

.table-biam{
  text-align: center;
}

.table-biam tbody tr td,
.table-biam thead tr th,
.table-biam thead {
  border-left: 1px solid #EDF2F4;
  border-right: 1px solid #EDF2F4;
}
/* #EDF2F4*/

#table_results .table .data td.name {  
  font-size: medium;
}


/* ======== Filters ========== */
#filters{
  background-color: #EDF2F4;
  text-align: center;
  padding: 15px;
}

.filter{
  margin: 18px 0;
}

/* ======== KPIS section  ============*/
.kpis{
  text-align: center;
}

.kpis div {
  background-color: #00274B;
  color: white;
  margin: 5px 0;
}

.kpi_text{
  display: block;
  color:  #00274B;
}

.kpi_val{
  color: #00274B;
  border-radius: 50%;
  font-weight: bold;
  font-size: 40px;
  width: 50px;
  height: 50px;
  padding: 10px;
}

/* Heat map Colors */
/*
.b100 { background-color: #03045E; color:white}
.b75 { background-color: #0077B6; color:white}
.b50 todo{ background-color: #0096C7; color:white}
.b25 { background-color: #00B4D8; color:white}
.b0 { background-color: #90E0EF; color:black}
*/

 /*Blue*/
.b100 { background-color: #005D8F; color:white}
.b75 { background-color: #006AA3; color:white}
.b50 { background-color: #0092E0; color:white}
.b25 { background-color: #47BFFF; color:black}
.b0 { background-color: #99DBFF; color:black}

/* Red 
.b100 { background-color: #EF6351; color:black}
.b75 { background-color: #F38375; color:black}
.b50 { background-color: #F7A399; color:black}
.b25 { background-color: #FBC3BC; color:black}
.b0 { background-color: #FFE3E0; color:black}
*/

.total{background-color: #E5E5E5;}

/* Tables */
th {
  background-color: #00274B; color:white
}

/* ======== Legend  ============*/
.legend{
  margin-right: 5px;
  font-size: small;
  color: darkgray;
}

.legend span{
  width: 20px;
  height: 5px;
  padding: 5px; 
  margin-right: 5px;
}

.row { margin: 0; padding: 0 }

/* ============ Styles for Login =================== */


.landing-page{
  background-color:white !important;
  color: #00274B;
}


.pad-right{
  margin-right: 30px;
  font-size: small;
  color: darkgray;
}