{% extends "base.html" %}

{% include "nav.html"%}

{% block page_content %}
  <div id="filters" class="row">
    <div class="col-3">
      <div class="filter">
        <label>Socio</label>
        <select id="selMember">
        </select>
      </div>              
    </div>
    <div class="col-3"></div>
    <div class="col-2">
      <label class="kpi_text">Discurso</label>
        <span class="kpi_val kpi_part">0</span>
    </div>
    <div class="col-2">
      <label class="kpi_text">Evaluación</label>
        <span class="kpi_val kpi_memb">0</span>
    </div>
    <div class="col-2">
      <label class="kpi_text">Rol</label>
        <span class="kpi_val kpi_sess">0</span>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div id="yearly"></div>
    </div>
    <div class="col-6">
      <div id="role"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="table_results" class="table-responsive table-biam">
        <table class="table table-sm table-striped">
          <thead class="header">
          </thead>
          <tbody class="data">
          </tbody>
        </table>
      </div>
    </div>
    
      
  </div>            

  <script src="/static/js/helper.js"></script>
  <script src="/static/js/member.js"></script>
{% endblock %}

        

