{% from 'bootstrap/nav.html' import render_nav_item %}

{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="navbarColor02">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('main.overview', 'Home') }}
            {{ render_nav_item('main.year', 'Anual') }}
            {{ render_nav_item('main.home', 'Mensual') }}
            {{ render_nav_item('main.member', 'Socio') }}
        </div>
        <div class="nav navbar-nav navbar-right">
            <span>
                {% if current_user.is_authenticated %}
                    Bienvenido {{ current_user.name}}
                {% else %}
                    Stranger
                {% endif %}
            </span>
            {{ render_nav_item('auth.logout', 'Logout') }}
        </div>
    </div>
</nav>
{% endblock %}