{% extends "base.html" %}

{% include "nav.html"%}

{% block page_content %}
  <div id="filters" class="row">
    <div class="col-6">
      <label>Año</label>
      <select>
        <option>2020</option>
      </select>
    </div>
    <div class="col-6">
    </div>
  </div>
  <div class="kpis">
    <div class="row">
      <div class="col-4">
        <label class="kpi_text">Participaciones</label>
        <span class="kpi_val kpi_part"></span>
      </div>
      <div class="col-4">
        <label class="kpi_text">Asistentes</label>
        <span class="kpi_val kpi_memb"></span>
      </div>
      <div class="col-4">
        <label class="kpi_text">Sesiones</label>
        <span class="kpi_val kpi_sess"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div id="table_results" class="table-responsive table-biam">
        <table class="table table-sm ">
          <thead class="header">
          </thead>
          <tbody class="data">
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4">
      <div id="table_session_type" class="table-responsive" style="text-align: center;">
        <table class="table table-sm ">
          <thead class="header">
          </thead>
          <tbody class="data">
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4">

    </div>
  </div>            

  <script src="/static/js/helper.js"></script>
  <script src="/static/js/overview.js"></script>
  <!--<script src="/static/js/timelineRating.js"></script>-->
  <!--<script src="/static/js/decade.js"></script>-->

{% endblock %}

        
        