{% extends "base.html" %}

{% include "nav.html"%}

{% block page_content %}
  <div id="filters" class="row">
    <div class="col-3">
      <div class="filter">
        <label>Año</label>
        <select id='selYear'>
          <option>2020</option>
          <option>2021</option>
        </select>
      </div>
    </div>
    <div class="col-3"></div>
    <div class="col-2">
      <!--
      <label class="kpi_text">Participaciones</label>
      <span class="kpi_val kpi_part">0</span>
      -->
    </div>
    <div class="col-2">
      <label class="kpi_text">Asistentes por sesión</label>
      <span class="kpi_val kpi_memb">0</span>
    </div>
    <div class="col-2">
      <label class="kpi_text">Sesiones en el año</label>
      <span class="kpi_val kpi_sess">0</span>
    </div>
  </div>
  <br >
  <div class="row">
      <div id="table_results" class="table-responsive table-biam">
          <table class="table table-sm table-striped ">
            <thead class="header">
            </thead>
            <tbody class="data">
            </tbody>
          </table>
      </div>
  </div>  
  <script src="/static/js/helper.js"></script>
  <script src="/static/js/year.js"></script>
  <!--<script src="/static/js/timelineRating.js"></script>-->
  <!--<script src="/static/js/decade.js"></script>-->
{% endblock %}
