.navbar-dark{
  background-color:#722431;
}




.data {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    line-height:1.2
}

.table td, .table th {  
  vertical-align: middle;
}


/* ======== Filters ========== */
#filters{
  background-color: #EDF2F4;
  text-align: center;
  padding: 15px;
}

.filter{
  margin: 25px 0;
}

/* ======== KPIS section  ============*/
.kpis{
  text-align: center;
}

.kpis div {
  background-color: #00274B;
  color: white;
  margin: 5px 0;
}

.kpi_text{
  display: block;
  color:  #00274B;
}

.kpi_val{
  background-color: #00274B;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  font-size: 40px;
  width: 50px;
  height: 50px;
  padding: 10px;
}

/* Heat map Colors */
/*
.b100 { background-color: #03045E; color:white}
.b75 { background-color: #0077B6; color:white}
.b50 { background-color: #0096C7; color:white}
.b25 { background-color: #00B4D8; color:white}
.b0 { background-color: #90E0EF; color:black}
*/

/* Blue
.b100 { background-color: #003249; color:white}
.b75 { background-color: #007EA7; color:white}
.b50 { background-color: #80CED7; color:white}
.b25 { background-color: #9AD1D4; color:white}
.b0 { background-color: #CCDBDC; color:black}
*/
.b100 { background-color: #EF6351; color:white}
.b75 { background-color: #F38375; color:white}
.b50 { background-color: #F7A399; color:white}
.b25 { background-color: #FBC3BC; color:white}
.b0 { background-color: #FFE3E0; color:black}

.total{background-color: #E5E5E5;}

/* Tables */
th {
  background-color: #852a39; color:white
}