<!DOCTYPE html>
<html lang="en">
    <head>
      {% include 'header.html' %}
    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">Club BIAM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/overview">General</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">| Anual</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/">| Mensual</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
        <div class="container">
          <h4>Oops! Not found error :(</h4>
        </div>
    </body>
</html>